### Random Data Creation Class

In [5]:
from random_data import RandomData

In [7]:
""" Testing """
var_dict = {"Ethnicity": ["cat", ["White", "Black", "Asian"]],
            "Weight": ["con", [50,150,2]],
            "Salary": ["con", [24000,100000,1]],
            "Died": ["binary", ["Not Died", "Died"]],
            "Age_at_death": ["interval", [56,102]],
            "Num_hosp_visits": ["interval", [0,20]]}

rd_data = RandomData(rd_dict=var_dict, rd_size=100, rd_seed="standard")
type(rd_data)

The standard seed 42 will be used.
Categorical variable 'Ethnicity' created.
Binary variable 'Died' created.
Interval variable 'Age_at_death' created.
Interval variable 'Num_hosp_visits' created.

random_data.RandomData

In [ ]:
rd_data.head() # Retained pd.DataFrame methods

  Ethnicity  Weight   Salary      Died  Age_at_death  Num_hosp_visits
0     Asian  113.94  72596.4  Not Died            96               20
1     White   52.50  25900.8  Not Died            63                3
2     White   77.50  44902.2      Died            57                0
3     Asian   72.32  40964.0  Not Died            73                8
4     Black  123.65  79971.8  Not Died            71                7